@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--surface);
  border-radius: 16px;

  overflow: hidden;
  animation: fade-in ease 0.5s;
}

.content {
  padding: 1rem;
  padding-top: 0;
}
