@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  border-bottom: solid 1px var(--surface);

  width: 100%;
  padding: 1rem 0;

  opacity: 0;
  transition: all ease 0.3s;

  animation: fade-in ease 0.5s;
  animation-fill-mode: forwards;
}

.container:last-child {
  border-bottom: none;
}

.container:hover {
  background: var(--surface);

  padding: 1rem;
  scale: 1.1;

  cursor: pointer;
}

.container * {
  width: 100%;

  font-weight: 600;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.logo {
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
}

.price,
.market-cap {
  color: var(--primary);
}

.price-24h {
  width: 50%;
}

.percent-24h,
.percent-7d {
  width: 50%;
  text-align: right;
}

.increased {
  color: var(--accent);
}

.decreased {
  color: var(--error);
}

@media only screen and (max-width: 800px) {
  .market-cap {
    display: none;
  }
}

@media only screen and (max-width: 590px) {
  .percent-7d {
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .percent-24h {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .price-24h {
    display: none;
  }
}
