:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background: #24273a; /* base */
  --foreground: #7788b4; /* text */

  --surface: #363a4f; /* surface0 */
  --shadow: #181926; /* crust */

  --primary: #8aadf4; /* blue */
  --accent: #a6da95; /* green */
  --warning: #f5a97f; /* peach */
  --error: #ed8796; /* red */

  --logo-colour: #eed49f /* yellow */;

  /* Icons obtained from Google Material Icons website */
  --close-icon: url("close.svg");
  --dropdown-icon: url("dropdown.svg");
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: var(--primary);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
