.button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 100%;

  min-width: 3rem;
  max-width: 3rem;
  min-height: 3rem;
  max-height: 3rem;

  cursor: pointer;
  transition: background-color ease 0.3s;
}

.button:hover {
  background-color: var(--background);
}
