@keyframes appear {
  from {
    top: calc(100% + 4rem);
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.dashboard {
  height: calc(100vh - 4rem);
  padding: 4rem;

  overflow: hidden;
  transition: padding ease 0.3s;
}

.content {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  position: relative;

  animation: appear ease 0.75s;
  animation-fill-mode: forwards;
}

.details-container {
  opacity: 0;
  transition: opacity ease 0.5s;
}

@media only screen and (max-width: 880px) {
  .dashboard {
    padding: 0 1rem;
  }
}
